.timer {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  h1 {
    font-size: 5em;
    font-weight: 300;
  }
  // .timer-button {
  //   margin: 0 auto;
  //   display: table;
  //   margin-top: 1em;
  //   padding: 0.65em 2em;
  //   font-size: 1.2em;
  // }
  .button.secondary {
    color: #7B7B7B;
  }
}
