---
name: home
url: /
---

  <div zf-panel="" id="tasks-panel">

    <a zf-close="" class="tasks-close"><img zf-iconic="" icon="circle-x" size="small"></a>

    <h4>Task History</h4>

    <!-- Remove input text when submitted -->
    <form name="taskForm" ng-submit="addTask()">

      <div class="tasks-submit">
        <span class="inline-label">

          <!-- Task input -->
          <input
            type="text"
            placeholder="Enter completed task"
            name="description"
            ng-model="task"
            ng-maxlength="100"
            required >

          <a href="#" ng-click="addTask()" class="button success">Submit</a>

          <!-- Positioned off screen. Added to remove text on keyboard enter -->
          <input type="submit" style="position: absolute; left: -9999px; width: 1px; height: 1px;"/>

        </span>
      </div><!-- .tasks-submit -->

    </form>

    <!-- show an error if task is too long -->
    <p class="error orange fade" ng-show="taskForm.description.$error.maxlength">Woah nelly! There's 100 character limit.</p>

    <div class="grid-block" id="task-list">
      <div class="grid-content">

        <ul>
          <li ng-repeat="task in tasks | orderBy: '-created_at' ">
            {{ task.description }}
            <a href="#" ng-click="tasks.$remove(task)" class="button secondary">x</a>
          </li>
        </ul>

      </div>
    </div>

  </div>

  <div class="grid-block timer-wrap">

    <div class="grid-container">

        <timer ng-bind="time | secondsTime | date:'m:ss'"></timer>

        <!-- Start Work Timer -->
        <a ng-show="!timerActive && workTimer" class="button success expand timer-button" ng-click="timerStart($event)" ng-bind="btnStart"></a>

        <!-- Start Break Timer -->
        <a ng-show="!timerActive && breakTimer" class="button info expand timer-button" ng-click="timerStart($event)" ng-class="{true: 'disabled', false: ''}[timerActive]" ng-bind="btnBreak"></a>

        <!-- Disable Break Button While On Break -->
        <a ng-show="timerActive && breakTimer" class="button info expand timer-button" ng-class="{true: 'disabled', false: ''}[timerActive]" ng-bind="btnBreak"></a>

        <!-- Reset Timer -->
        <a ng-show="timerActive && workTimer" class="button secondary expand timer-button" ng-click="resetTime($event)" ng-bind="btnReset"></a>

        <a href="#" zf-toggle="tasks-panel" class="tasks-button button secondary expand">Toggle Tasks</a>

    </div>

  </div>

  <!-- <div class="grid-block">
    <div class="grid-container">
      <h4 ng-show="workSessions >= 0">Total Work Sessions Completed: {{workSessions}}</h4>
    </div>
  </div> -->
